.input {
  min-height: 40px;
}

.inputNumber {
  width: 100%;
}

.inputTagItem {
  background-color: #ededed;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #4c394f;
}
